.stageDetails{
    flex-basis:75%;
    height: 100%;
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    justify-items: center;
    &__header{
        display: flex;
        padding: 10px 10px;
        justify-content: space-between;
        font-size: 14px;
        position: relative;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        &__name{
            display: flex;
            flex-basis: 90%;
        }
        &__action{
            display: flex;
            flex-basis: 10%;
            justify-content: space-around;
        }
    }
    &__stages{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex: 1 1 0;
        &__container{
            flex-basis:75%;
            height: 100%;
            display: flex;
            flex-direction: column;
            &__stagesteps{
                height: 100%;
                display: flex;
                padding: 10px 20px;
                justify-items: center;
                border:1px dashed #c2c2c2;
                overflow-y: auto;
                scroll-behavior: smooth;
                flex-direction: column;
                &__item{
                    padding: 15px 0;
                    margin: 10px 9px;
                    text-align: center;
                    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
                    position: relative;
                    border-radius: 4px 4px;
                    opacity: 0.8;
                    color: #fff;
                    &__close{
                        position: absolute;
                        right:5px;
                        top:5px;
                        font-size: 14px;
                        cursor: pointer;
                    }
                }
            }
        }
            &__list{
                flex-basis: 25%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 20px;
               &__container{
                height: 100%;
                display: flex;
                justify-items: center;
                overflow-y: auto;
                scroll-behavior: smooth;
                flex-direction: column;
                &__item{
                    padding: 15px 0;
                    margin: 10px 9px;
                    text-align: center;
                    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
                    transition: all 0.2s ease;
                    border-radius: 4px 4px;
                    color:#fff;
                    opacity: 0.8;
                    &:hover {
                        box-shadow: 1px 3px 12px 3px rgba(0,0,0,0.3);
                        cursor: pointer;
                        transform: translatey(-4px);
                    }
                }
            }
        }   
    }
}

.closeBtn{
    outline: none;
}