<div class="mainContainer">
        <div class="mainContainer__section">
                <div class="mainContainer__section__header">
                        <div><h3>Steps</h3></div>
                        <div>
                            <button mat-raised-button color="primary" (click)="openAddNewStep()">
                                <i class="fa fa-plus"></i>
                             </button>
                    </div>
                </div>
                <div class="mainContainer__section__steps">
                    <div class="mainContainer__section__steps__item" *ngFor="let step of listOfSteps;let i=index;">
                             <i class="material-icons mainContainer__section__steps__item__edit" aria-hidden="true" (click)="editStep(step.id)">edit</i>    
                             <i class="material-icons mainContainer__section__steps__item__delete" aria-hidden="true" (click)="deleteStep(i)">close</i>
                              {{step.name}}    
                        </div>
                </div>
        </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Step</h4>
        <button type="button" class="closeBtn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <form [formGroup]="stepForm" (ngSubmit)="addnewStep()">
                <mat-form-field class="col-sm-12">
                    <input type="text" matInput id="stepname"  formControlName="name" placeholder="Step Name" name="stepname">
                </mat-form-field>
                <button type="submit" class="btn btn-primary" [disabled]="stepForm.invalid">Submit</button>
            </form>
    </div>
  </ng-template>