
<div class="wrapper">
        <div class="sidebar">
                <div class="sidebar__container">
                        <ul class="sidebar__container__list">
                                <li class="sidebar__container__list__item" (click)="navigate('')" [ngClass]="{'active':currentPage==='/'}">
                                                <i class="material-icons sidebar__container__list__item__icon">perm_identity</i>
                                                <span class="sidebar__container__list__item__title">User</span>
                                                <i class="material-icons sidebar__container__list__item__arrow" *ngIf="currentPage==='/'">arrow_left</i>
                                </li>
                                <li class="sidebar__container__list__item" (click)="navigate('steps')" [ngClass]="{'active':currentPage.includes('/step')}">
                                        <i class="material-icons sidebar__container__list__item__icon">format_list_bulleted</i>
                                        <span class="sidebar__container__list__item__title">Steps</span>
                                        <i class="material-icons sidebar__container__list__item__arrow" *ngIf="currentPage.includes('/step')">arrow_left</i>
                                </li>
                                <li class="sidebar__container__list__item" (click)="navigate('stages')" [ngClass]="{'active':currentPage.includes('/stage')}">
                                        <i class="material-icons sidebar__container__list__item__icon">library_books</i>
                                        <span class="sidebar__container__list__item__title">Stages</span>
                                        <i class="material-icons sidebar__container__list__item__arrow" *ngIf="currentPage.includes('/stage')">arrow_left</i>
                                </li>
                                <li class="sidebar__container__list__item" (click)="navigate('flows')" [ngClass]="{'active':currentPage.includes('/flow')}">
                                        <i class="material-icons sidebar__container__list__item__icon">widgets</i>
                                        <span class="sidebar__container__list__item__title">Flows</span>
                                        <i class="material-icons sidebar__container__list__item__arrow"  *ngIf="currentPage.includes('/flow')">arrow_left</i>
                                </li>
                        </ul>
                </div>
        </div>
        <div class="main-panel">
                <div class="main">
                        <!-- <div class="main__header">
                                <h3>Whatsapp Configuration</h3>
                        </div> -->
                        <div class="main__body">
                                <router-outlet></router-outlet>
                        </div>
                </div>
        </div>
</div>
